---
---

@import "{{ site.theme }}";

.page-header {
  color: #FFFFFF;
  text-align: center;
  background-color:  #111111; 
  background-image: linear-gradient(0deg, #444444, #111111);

  @include large {
    padding: 1rem .5rem;
  }

  @include medium {
    padding: 1rem .5rem;
  }

  @include small {
    padding: .2rem 1rem;
  }
}


body {
  padding: 0;
  margin: 0;
  font-family: Calibri, Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 1.2;
  background-color: #FAFAFA;
  color: #111111;
}

 
.main-content {

 @include large {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1rem;
  }

  @include medium {
    padding: 2rem 4rem;
    font-size: 1rem;
  }

  @include small {
    padding: 2rem 1rem;
    font-size: 0.9rem;
  }
 

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0.3rem;
    margin-bottom: 0.8rem;
    color: #778877;
    font-weight: bold;
  }

  img {
	height:auto ;
	max-width: 100%;
	margin: 0.1rem 0.8rem;
  }

}

a {
  color: #446644;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}

 .project-tagline {
  margin-bottom: 2rem;
  font-weight: bold;
  opacity: 1;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}



p {
	text-align:justify;
}

.inner {
    max-width: 800px;
 }


.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: #FFFFF;
  border-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    text-decoration: none;
    color: #333333;
    background-color: #FFFFFF;
    border-color: rgba(255, 255, 255, 0.3);
  }

  + .btn {
    margin-left: 0.4rem;
  }

  @include large {
    padding: 0.2em 0.8em;
    font-size: 1rem;
  }

  @include medium {
    padding: 0.2em 0.4em;
    font-size: 1rem;
  }

  @include small {
    padding: 0.2em;
    font-size: .9rem;

    + .btn {
      margin-top: 0px;
      margin-left: 0;
    }
  }
}



.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px $hr-border-color;

  @include large {
    font-size: 0.9rem;
  }

  @include medium {
    font-size: 0.9rem;
  }

  @include small {
    font-size: 0.9rem;
  }
}



        .slider-holder
        {
            width: 800px;
            height: 400px;
            background-color: yellow;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            text-align: center;
            overflow: hidden;
        }
       
        .image-holder
        {
            width: 2400px;
            background-color: red;
            height: 400px;
            clear: both;
            position: relative;
           
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s;
        }
       
        .slider-image
        {
            float: left;
            margin: 0px;
            padding: 0px;
            position: relative;
        }
       
        #slider-image-1:target ~ .image-holder
        {
            left: 0px;
        }
       
        #slider-image-2:target ~ .image-holder
        {
            left: -800px;
        }
       
        #slider-image-3:target ~ .image-holder
        {
            left: -1600px;
        }
       
        .button-holder
        {
            position: relative;
            top: -20px;
        }
       
        .slider-change
        {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: brown;
        }



